extends layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/product.css")
  link(rel="stylesheet", href="/css/forms.css")

block content
  main
      if prods.length  > 0
        .grid
          each product in prods
            article.card.product-item
              .header.card_header
                h1.product_title #{product.title}

              .card_image
                img(src=product.imageUrl, alt=product.title)
              .card_content
                h2.product_price #{product.price}
                p.product_description #{product.description}
              .card_actions
                button.btn Add to Cart
      else
        h1 No Products Found
